In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [13]:
solar_data = pd.read_csv('data/solarpower.csv')
solar_data

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [12]:
solar_df = solar_data.copy()
for col in cum_power.index:
    solar_df['cum_power'] = solar_df[col].isnull()
#создаем словарь имя столбца: число(признак) на который надо заменить пропуски   
values = {
    'cum_power': solar_df['cum_power'].mean()
}
#заполняем пропуски в соответствии с заявленным словарем
solar_df = solar_df.fillna(values)
#выводим результирующую долю пропусков
solar_df.isnull().mean()

NameError: name 'cum_power' is not defined