In [1]:
import numpy as np
import pandas as pd

In [ ]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

In [ ]:
print(countries.loc['US'])
print(countries.loc[['US', 'RU', 'UK']])
print(countries.iloc[6])
print(countries.iloc[1:4])

#задание

In [5]:
def create_medications(names, counts):
    medications = pd.Series(
        data = counts,
        index = names,
    )
    return medications

In [13]:
def get_percent(medications, name):
    c = medications.loc[name]
    percent = (c / sum(medications)) * 100
    return percent

In [15]:
print(get_percent(name = 'cyntomycin', medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])))
print(create_medications(names = ['chlorhexidine', 'cyntomycin', 'afobazol'], counts = [26, 18, 7]))

35.294117647058826
chlorhexidine    26
cyntomycin       18
afobazol          7
dtype: int64

#Data Frame

In [2]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

In [4]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [6]:
countries_df.mean(axis=0, numeric_only=1)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [11]:
countries_df['population']
countries_df.loc['UK', 'square']
countries_df.loc['RU', ['population', 'square']]
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

#Task 3.5

In [121]:
def create_companyDF(income, expenses, years):
    #Creating a DataFrame
    company_df = pd.DataFrame({
        'Income' : [*income],
        'Expenses' : [*expenses]
    })
    company_df.index = [years]
    return company_df

In [181]:
def get_profit(df, year):
    if year in df.index:
        profit_df = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
        profit = profit_df.iloc[0]
        return profit
    else:
        return None

In [129]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
df = create_companyDF(income = [478, 512, 196], expenses = [156, 130, 270], years = [2018, 2019, 2020])
df

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

In [130]:
df = create_companyDF([478, 512, 196], [156, 130, 270], [2018, 2019, 2020])
get_profit(df, years)

2018    322
2019    382
2020    -74
dtype: int64

#Test 1

In [182]:
print(create_companyDF(income = [612, 516, 329, 158], expenses = [136, 163, 250, 361], years = [2017, 2018, 2019, 2020]))

      Income  Expenses
2017     612       136
2018     516       163
2019     329       250
2020     158       361

#Test 2

In [183]:
print(get_profit(year = 2018, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

353

#Test 3

In [184]:
print(get_profit(year = 2013, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

None