### Настройки

Начинаем с импорта библиотек

In [13]:
import pandas as pd
import psycopg2

In [ ]:
# хороший тон при фиксации изменений в github не публиковать код с открытыми данными для входа
# для запуска кода поместите данные, которые указаны на странице курса в эту ячейку
# при размещении в github удалите эту ячейку

Создаем соединение с заданными параметрами

In [14]:
connection = psycopg2.connect(
   dbname='',
   user='',
   host='',
   password='',
   port=5432
)

Запрос

In [17]:
# код запроса представляет из себя строковую переменную
n = 10
query = f'''select * 
            from public.ds_vacancies
            limit {n}
         '''
# лучше использовать f-строки - так удобнее передавать параметры

### Выполнение запроса

In [18]:
# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df

/tmp/ipykernel_10531/2473184231.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,id,name,key_skills,schedule,experience,employment,salary_from,salary_to,area_id,employer_id
0,50533416,Junior+ CV/ML developer,Python\tSQL\tРабота в команде\tOpenCV\tML,Гибкий график,От 1 года до 3 лет,Полная занятость,NaN,NaN,4,80190
1,54824572,Data Scientist,Oracle Pl/SQL\tБазы данных\tMachine Learning\t...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,160,111304
2,54825318,Data Scientist (Junior+),Python\tOpenCV\tTensorflow\tComputer Vision\tН...,Полный день,От 1 года до 3 лет,Полная занятость,50000.0,70000.0,72,215942
3,66120847,AI/ML Senior Engineer,Python\tFlask\tLinux\tAWS\tGit,Гибкий график,От 3 до 6 лет,Полная занятость,NaN,NaN,2759,204511
4,55351147,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,53,3127
5,55351168,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,78,3127
6,55351179,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,76,3127
7,55351195,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,2,3127
8,66120842,AI/ML Senior Engineer,Python\tFlask\tLinux\tAWS\tGit,Гибкий график,От 3 до 6 лет,Полная занятость,NaN,NaN,2758,204511
9,55166994,ML разработчик (удалённо),Python\tПоиск информации в интернет\tC++\tМате...,Удаленная работа,От 1 года до 3 лет,Полная занятость,50000.0,100000.0,1,6154479

### Финал

In [19]:
# не забываем закрыть соединение после окончания работы
connection.close()